<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Dictionary</ion-title>
  </ion-toolbar>
</ion-header>

<style>
  th
  {
    padding-bottom: 8px;
    padding-right: 10px;
  }
  td
  {
    padding-right: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
  }
  tr:nth-child(even)
  {
    background-color: #ebebeb;
  }

  @media (prefers-color-scheme: dark)
  {
    tr:nth-child(even)
    {
      background-color: #141414;
    }
  }
</style>

<ion-content [fullscreen]="true">
  <br>
  <ion-button href="/home" style="margin-top:0px; height:30px">Home</ion-button>
  <br><br>
  <form (ngSubmit)="getSearch()" (reset)="clearSearch()">
    <input id="searchValue" type="text" style="margin-right:10px">

    <ion-button type="submit" style="margin-right:10px; margin-top:0px; margin-bottom:15px; height:30px">Search</ion-button>
    <ion-button type="reset" style="margin-right:10px; margin-top:0px; margin-bottom:15px; height:30px">Clear</ion-button>
  </form>

  <table id="tableDisplay">
    <tr>
      <th style="padding-left:6px">English</th>
      <th>German</th>
      <th>Definition</th>
      <th>Gender</th>
      <th style="padding-right:15px">Accuracy</th>
    </tr>
    <tr *ngFor="let word of sampleWords[0]; let i = index">
      <td style="padding-left:6px">{{sampleWords[0][displayOrder[i]]}}</td>
      <td>{{sampleWords[1][displayOrder[i]]}}</td>
      <td>{{sampleWords[3][displayOrder[i]]}}</td>
      <td style="text-align:center;text-transform:uppercase;">{{sampleWords[2][displayOrder[i]]}}</td>
      <td style="text-align:center;padding-right:15px">{{accuracyValues[displayOrder[i]]}}</td>
    </tr>
    <br><br>
  </table>

</ion-content>
