<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Listen to Pronunciations</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <p id="audioWarning" style="color:red" hidden="true"><b>There are currently limited audio files to be played while using online data.</b></p>

  <table width="60%" id="answerTable">
    <tr>
      <th>
        <audio id="wordAnswer">

        </audio>
        <ion-button (click)="playAudio('wordAnswer')">
            &#9658;
        </ion-button>
      </th>
    </tr>
    <tr>
      <ion-list text-wrap id="answerList">
        <ion-item *ngFor="let option of chosenOptions; let i = index">
          <input type="radio" name="radioSet" value="{{sampleWords[langColumn][chosenOptions[i]]}}" id="{{'input' + i}}">
          <label id="{{'label' + i}}" for="{{'input' + i}}" style="padding-left:10px">{{sampleWords[langColumn][chosenOptions[i]]}}</label>

          <div>
            <ion-label style="text-align:center; float:right" id="{{'answerResult' + i}}">&nbsp;&nbsp;&nbsp;</ion-label>
          </div>
        </ion-item>
      </ion-list>
    </tr>
  </table>

  <div height="200%" hidden="true" id="togglePrompt" style="padding-left:15px">
	<em>Display English Words: </em> <input (click)="toggleDisplay()" id="gerBox" type="checkbox">
  </div>

  <div>
    <h3 id="remainingEx" style="padding-left:15px" hidden="true">Exercises Remaining: {{loops + 1}}</h3>
  </div>

  <div>
    <h3 id="scoreDisplay" style="padding-left:15px">&nbsp;</h3>
  </div>

  <div id="submitBtn">
    <ion-button type="button" (click)="submitEx()">Submit</ion-button>
  </div>
  <div id="nextBtn" hidden="true">
    <ion-button type="button" (click)="nextEx()">Next</ion-button><br>
  </div>
  <div id="finishBtn" hidden="true">
    <ion-button type="button" (click)="finishEx()">Finish</ion-button>
  </div>
  <div id="againBtn" hidden="true">
    <ion-button type="button" (click)="playAgain()">Play Again</ion-button>
  </div>

  <div style="margin-bottom: 3%">
    <ion-button href="/home">Home</ion-button>
  </div>
</ion-content>
