<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Match Nouns</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" style="scale:125%;transform-origin: top left;">
  <table id="answerTable">
    <tr>
      <th id="wordAnswer">{{sampleWords[1][chosenWords[0]]}}</th>
    </tr>
    <tr>
      <ion-list text-wrap style="padding:0px;" id="answerList">
        <ion-item *ngFor="let option of chosenOptions; let i = index">
          <input type="radio" name="radioSet" value="{{sampleWords[0][chosenOptions[i]]}}" id="{{'input' + i}}">
          <label for="{{'input' + i}}" style="padding-left:10px">{{sampleWords[0][chosenOptions[i]]}}</label>
          <ion-label style="text-align:center; float:right" id="{{'answerResult' + i}}">&nbsp;&nbsp;&nbsp;</ion-label>
        </ion-item>
      </ion-list>
    </tr>
    <tr>
        <h3 id="remainingEx" hidden="true">Exercises Remaining: {{loops + 1}}</h3>
    </tr>
    <tr>
        <h3 id="scoreDisplay">&nbsp;</h3>
    </tr>
  </table>

  <div id="submitBtn">
    <ion-button type="button" (click)="submitEx()">Submit</ion-button>
  </div>
  <div id="nextBtn" hidden="true">
    <ion-button type="button" (click)="nextEx()">Next</ion-button><br>
  </div>
  <div id="finishBtn" hidden="true">
    <ion-button type="button" (click)="finishEx()">Finish</ion-button>
  </div>
  <div id="againBtn" hidden="true">
    <ion-button type="button" (click)="playAgain()">Play Again</ion-button>
  </div>

  <div style="margin-bottom: 3%">
    <ion-button href="/home">Home</ion-button>
  </div>
</ion-content>
