<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Match Genders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <table width="60%" id="answerTable">
    <tr>
      <th id="wordAnswer">{{sampleWords[1][chosenWords[0]]}}</th>
    </tr>
    <tr>
      <ion-list text-wrap id="answerList">
        <ion-item>
          <input type="radio" name="radioSet" value="m" id="masc">
          <label for="masc">&nbsp; Masculine</label>

          <div>
            <ion-label style="text-align:center; float:right" id="answerResult0">&nbsp;&nbsp;&nbsp;</ion-label>
          </div>
        </ion-item>
        <!----------------------------------------------------------------------------------------->
        <ion-item>
          <input type="radio" name="radioSet" value="f" id="fem">
          <label for="fem">&nbsp; Feminine</label>

          <div>
            <ion-label style="text-align:center; float:right" id="answerResult1">&nbsp;&nbsp;&nbsp;</ion-label>
          </div>
        </ion-item>
        <!----------------------------------------------------------------------------------------->
        <ion-item>
          <input type="radio" name="radioSet" value="n" id="neut">
          <label for="neut">&nbsp; Neutral</label>

          <div>
            <ion-label style="text-align:center; float:right" id="answerResult2">&nbsp;&nbsp;&nbsp;</ion-label>
          </div>
        </ion-item>
      </ion-list>
    </tr>
  </table>

  <div>
    <h3 id="remainingEx" style="padding-left:15px" hidden="true">Exercises Remaining: {{loops + 1}}</h3>
  </div>
  <div>
    <h3 id="scoreDisplay" style="padding-left:15px">&nbsp;</h3>
  </div>

  <div id="submitBtn">
    <ion-button type="button" (click)="submitEx()">Submit</ion-button>
  </div>
  <div id="nextBtn" hidden="true">
    <ion-button type="button" (click)="nextEx()">Next</ion-button><br>
  </div>
  <div id="finishBtn" hidden="true">
    <ion-button type="button" (click)="finishEx()">Finish</ion-button>
  </div>
  <div id="againBtn" hidden="true">
    <ion-button type="button" (click)="playAgain()">Play Again</ion-button>
  </div>

  <div style="margin-bottom: 3%">
    <ion-button href="/home">Home</ion-button>
  </div>
</ion-content>
