<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Match Genders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2 id="instructionsTitle">Instructions</h2>
  <p id="instructions">In this exercise you will be presented with a list of German nouns.<br>
  <br>The goal is to identify the gender of the noun from the list of options.<br>
  </p>

  <table id="promptTable" hidden="true">
    <tr>
      <th>Word</th>
    </tr>
    <tr>
      <ion-list>
        <ion-item *ngFor="let word of chosenWords; let i = index" id="{{'word' + i}}">
          <ion-label>{{sampleWords[1][chosenWords[i]]}}</ion-label>
        </ion-item>
      </ion-list>
    </tr>
  </table>

  <table id="answerTable" hidden="true">
    <tr>
      <th>Gender</th>
    </tr>
    <tr>
      <ion-list id="answerList">
        <ion-item *ngFor="let option of chosenOptions; let i = index">
          <input type="radio" name="{{'radioSet' + i}}" value="Masculine" id="{{'m' + i}}">
          <label for="{{'m' + i}}">&nbsp; Masc &nbsp; &nbsp;</label>
          <input type="radio" name="{{'radioSet' + i}}" value="Feminine" id="{{'f' + i}}">
          <label for="{{'f' + i}}">&nbsp; Fem &nbsp; &nbsp;</label>
          <input type="radio" name="{{'radioSet' + i}}" value="Neutral" id="{{'n' + i}}">
          <label for="{{'n' + i}}">&nbsp; Neutral &nbsp; &nbsp;</label>

          <div>
            <ion-label style="text-align:center; float:right" id="{{'answerResult' + i}}">&nbsp;&nbsp;&nbsp;</ion-label>
          </div>
        </ion-item>
      </ion-list>
    </tr>
  </table>

  <div>
    <h3 id="remainingEx" hidden="true">Exercises Remaining: {{loops + 1}}</h3>
  </div>
  <div>
    <h3 id="scoreDisplay" hidden="true"></h3>
  </div>

  <div id="startBtn">
    <ion-button type="button" (click)="startEx()">Start</ion-button>
  </div>
  <div id="submitBtn" hidden="true">
    <ion-button type="button" (click)="submitEx()">Submit</ion-button>
  </div>
  <div id="nextBtn" hidden="true">
    <ion-button type="button" (click)="nextEx()">Next</ion-button><br>
  </div>
  <div id="finishBtn" hidden="true">
    <ion-button type="button" (click)="finishEx()">Finish</ion-button>
  </div>
  <div id="againBtn" hidden="true">
    <ion-button type="button" (click)="playAgain()">Play Again</ion-button>
  </div>

  <div style="margin-bottom: 3%">
    <ion-button href="/home">Home</ion-button>
  </div>
</ion-content>
