<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Match Definitions</ion-title>
  </ion-toolbar>
</ion-header>

<style>
  ion-item
  {
    height: 8rem;
  }
  ion-label
  {
    font-size: 1rem;
    height: 6rem;
  }
</style>

<ion-content [fullscreen]="true">
  <h2 id="instructionsTitle">Instructions</h2>
  <p id="instructions">In this exercise you will be presented with two lists, one containing nouns in German, and the other containing definitions of those nouns in English.<br>
  <br>The goal is to match as many nouns with their correct definition as you can.<br>
  </p>

  <table id="promptTable" hidden="true">
    <tr>
      <th>German</th>
    </tr>
    <tr>
      <ion-list>
        <ion-reorder-group id="promptList" [disabled]="true">
          <ion-item *ngFor="let word of chosenWords; let i = index" id="{{'word' + i}}">
            <ion-label id="{{'wordLabel' + i}}">{{sampleWords[1][chosenWords[i]]}}</ion-label>
          </ion-item>
        </ion-reorder-group>
      </ion-list>
    </tr>
  </table>

  <table width="60%" id="answerTable" hidden="true">
    <tr>
      <th>Definitions</th>
    </tr>
    <tr>
      <ion-list text-wrap >
        <ion-reorder-group id="answerList" [disabled]="false" (ionItemReorder)="getHandleReorder($any($event))">
          <ion-item *ngFor="let option of chosenOptions; let i = index">
            <ion-label id="{{'answerLabel' + i}}" text-wrap>{{sampleWords[3][chosenOptions[i]]}}</ion-label>
            <ion-reorder slot="end"></ion-reorder>
          </ion-item>
        </ion-reorder-group>
      </ion-list>
    </tr>
  </table>

  <table id="resultsTable" hidden="true">
    <tr>
      <th style="text-decoration: none">&nbsp;</th>
    </tr>
    <tr>
      <ion-list>
        <ion-reorder-group id="resultsList" [disabled]="true">
          <ion-item *ngFor="let option of chosenOptions; let i = index">
            <ion-label id="{{'answerResult' + i}}"></ion-label>
          </ion-item>
        </ion-reorder-group>
      </ion-list>
    </tr>
  </table>

  <div>
    <h3 id="remainingEx" hidden="true">Exercises Remaining: {{loops + 1}}</h3>
  </div>
  <div>
    <h3 id="scoreDisplay" hidden="true"></h3>
  </div>

  <div id="startBtn">
    <ion-button type="button" (click)="startEx()">Start</ion-button>
  </div>
  <div id="submitBtn" hidden="true">
    <ion-button type="button" (click)="submitEx()">Submit</ion-button>
  </div>
  <div id="nextBtn" hidden="true">
    <ion-button type="button" (click)="nextEx()">Next</ion-button><br>
  </div>
  <div id="finishBtn" hidden="true">
    <ion-button type="button" (click)="finishEx()">Finish</ion-button>
  </div>
  <div id="againBtn" hidden="true">
    <ion-button type="button" (click)="playAgain()">Play Again</ion-button>
  </div>

  <div style="margin-bottom: 3%">
    <ion-button href="/home">Home</ion-button>
  </div>
</ion-content>
