<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>OpenLingo <img src="assets/icon/favicon.png" width="40px" height="40px"></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">OpenLingo</ion-title>
    </ion-toolbar>
  </ion-header>
    <h2>Excercises</h2>
      <ion-button href="/ex-noun-match">Match Nouns</ion-button><br>
      <ion-button href="/ex-definition-match">Match Definitions</ion-button><br>
      <ion-button href="/ex-gender-identify">Match Noun Genders</ion-button><br>
      <ion-button href="/ex-audio-identify">Match Noun Pronunciations</ion-button><br>

      <br>
      <ion-button href="/random-exercises">Randomised Exercises</ion-button><br>

    <br>
    <ion-button (click)="clearData()">Clear Data</ion-button><br>
	  <ion-button href="../login">Exit/Logout</ion-button><br>
</ion-content>
