<ion-header [translucent]="true">
  <ion-toolbar>
    <table style="float:right;">
      <tr>
        <button style="float:right; color:grey; font-size:150%; margin-right:2rem" (click)="moreInfo()">&#9432;</button>
      </tr>
      <tr>
        <ion-text id="onlineStatus" style="float:right; color:grey; margin-right:2rem"><em>Offline &#10006;</em></ion-text>
      </tr>
      <tr>
        <ion-text id="downloadStatus" style="float:right; color:grey; margin-right:2rem"><em>Using Offline Data &#10006;</em></ion-text>
      </tr>
    </table>
    <ion-title size="large">OpenLingo <img src="assets/icon/favicon.png" width="25rem" height="25rem"></ion-title>
  </ion-toolbar>
</ion-header>

<style>
  td
  {
    padding: 15px;
  }
  p
  {
    padding-right: 0;
  }
  ion-button
  {
    width: 5rem;
    height: 3rem;
  }
</style>

<ion-content [fullscreen]="true" class="ion-justify-content-center">
  <table class="center">
    <tr>
      <td>
        <a href="/ex-noun-match" class="cardlink">
          <div class="card">
            <div class="cardtitle">
              <picture>
                <source srcset="assets/img/container_dark.png" media="(prefers-color-scheme: dark)">
                <img class="center" src="assets/img/container.png" alt="cube">
              </picture>
              <h3>Match Nouns</h3>
            </div>

            <div class="cardtext">
              <p>Match English and German nouns with eachother.</p>
            </div>
          </div>
        </a>
      </td>
      <!--New Column----------------------------------------->
      <td>
        <a href="/ex-definition-match" class="cardlink">
          <div class="card">
            <div class="cardtitle">
              <picture>
                <source srcset="assets/img/book_dark.png" media="(prefers-color-scheme: dark)">
                <img class="center" src="assets/img/book.png" alt="book">
              </picture>
              <h3>Match Definitions</h3>
            </div>

            <div class="cardtext">
              <p>Match German words with their English definition.</p>
            </div>
          </div>
        </a>
      </td>
    </tr>
    <!--New Row---------------------------------------------------------------------------------------------------->
    <tr>
      <td>
        <a href="/ex-gender-identify" class="cardlink">
          <div class="card">
            <div class="cardtitle">
              <picture>
                <source srcset="assets/img/gender_dark.png" media="(prefers-color-scheme: dark)">
                <img class="center" src="assets/img/gender.png" alt="gender">
              </picture>

              <h3>Match Genders</h3>
              </div>
              <div class="cardtext">
                <p>Match German words with their gender.</p>
            </div>
          </div>
        </a>
      </td>
      <!--New Column----------------------------------------->
      <td>
        <a href="/ex-audio-identify" class="cardlink">
          <div class="card">
            <div class="cardtitle">
              <picture>
                <source srcset="assets/img/speak_dark.png" media="(prefers-color-scheme: dark)">
                <img class="center" src="assets/img/speak.png" alt="speaking">
              </picture>
              <h3>Listen to Pronunciations</h3>
            </div>

            <div class="cardtext">
              <p>Match spellings with their German pronunciations.</p>
            </div>
          </div>
        </a>
      </td>
    </tr>
    <!--New Row---------------------------------------------------------------------------------------------------->
    <tr>
      <td colspan="2">
        <a href="/random-exercises" class="centerlink">
          <div class="card">
            <div class="cardtitle">
              <picture>
                <source srcset="assets/img/arrow_dark.png" media="(prefers-color-scheme: dark)">
                <img class="center" src="assets/img/arrow.png" alt="shuffle">
              </picture>
              <h3>Randomised Exercises</h3>
            </div>

            <div class="cardtext">
              <p>Play through a selection of 10 random exercises.</p>
            </div>
          </div>
        </a>
      </td>
    </tr>
  </table>
</ion-content>

<ion-footer>
  <!--<ion-button href="../login">Exit/Logout</ion-button><br>-->

  <ion-button class="wifiButton" id="onlineButton" (click)="connectOnline()" disabled="true">
    <img class="wifiLight" src="assets/img/wifi.png" height="80%" alt="online" >
    <img class="wifiDark" src="assets/img/wifi_dark.png" height="80%" alt="online">
  </ion-button>

  <ion-button class="downloadButton" id="updateButton" (click)="updateData()" disabled="true">
    <img class="downloadLight" src="assets/img/download.png" height="80%" alt="download">
    <img class="downloadDark" src="assets/img/download_dark.png" height="80%" alt="download">
  </ion-button>

  <ion-button class="warningButton" style="float:right; margin-right:5%" (click)="deleteWordData()">
    <img class="warningLight" src="assets/img/warning.png" height="80%" alt="hazard">
    <img class="warningDark" src="assets/img/warning_dark.png" height="80%" alt="hazard">
  </ion-button>

  <ion-button class="binButton" style="float:right" (click)="clearData()">
    <img class="binLight" src="assets/img/bin.png"  height="80%" alt="bin">
    <img class="binDark" src="assets/img/bin_dark.png" height="80%" alt="bin">
  </ion-button>
</ion-footer>


