<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title size="large">Randomised Exercises</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2 id="instructionsTitle">Instructions</h2>
  <p id="instructions">In this exercise you will be presented with 10 different exercises in a random order.</p>

  <h2 id="resultsTitle" hidden="true">Results</h2>

  <div id="resultsTables" hidden="true">
    <style>
      th {font-size:1rem; font-weight:bold; text-decoration:none;}
      table {float:none;}
    </style>

    <table *ngFor="let category of categories; let i = index" id="{{categories[i] + 'Scores'}}" hidden="true">
      <tr>
        <th>{{titles[i]}}</th>
      </tr>
    </table>

    <table id="nounScores" hidden="true">
      <tr>
        <th>Match Nouns</th>
      </tr>
    </table>

    <table id="definitionScores" hidden="true">
      <tr>
        <th>Match Definitions</th>
      </tr>
    </table>

    <table id="genderScores" hidden="true">
      <tr>
        <th>Match Noun Genders</th>
      </tr>
    </table>

    <table id="audioScores" hidden="true">
      <tr>
        <th>Match Noun Pronunciations</th>
      </tr>
    </table>
  </div>

  <div>
    <h3 id="scoreDisplay" hidden="true"></h3>
  </div>

  <div id="startBtn">
    <ion-button type="button" (click)="startEx()">Start</ion-button>
  </div>

  <div style="margin-bottom: 3%">
    <ion-button href="/home">Home</ion-button>
  </div>
</ion-content>
