<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Randomised Exercises</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Randomised Exercises</ion-title>
    </ion-toolbar>
  </ion-header>
  <h2 id="instructionsTitle">Instructions</h2>
  <p id="instructions">In this exercise you will be presented with 10 different exercises in a random order.</p>

  <h2 id="resultsTitle" hidden="true">Results Here...</h2>

  <div id="startBtn">
    <ion-button type="button" (click)="startEx()">Start</ion-button>
  </div>

  <div style="margin-bottom: 3%">
    <ion-button href="/home">Home</ion-button>
  </div>
</ion-content>
